.woocommerce ul.products li.product .button {
    /* background: blue; */
    background: rgb(0, 206, 0);
    color: white;
    margin-top: 0;
    line-height: 19px;
}

.woocommerce a.added_to_cart {
    padding-top: .5em;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: yellow;
    text-align: center;
    width: 120px;
    padding-top: 0;
    line-height: 40px;
    height: 42px;
    color: black;
}
.woocommerce ul.products li.product .onsale {
    background: rgb(0, 194, 0);
    margin-top: 10px;
    margin-right: 10px;
}


.woocommerce ul.products li.product .price ins{
    float: left;
    margin-right: 10px;
    text-decoration: none;
}
